body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: red;
  margin-bottom: 10px; }

a {
  color: red;
  text-transform: uppercase; }
