body {
     font-family: 'Fira Sans', sans-serif;
}
#Principale {
    background-image: url(../img/banner.jpg);
    width: 100%;
    height: 100% ;
    color: white;
    text-align: center;
    padding-bottom: 20%;
    margin: 0px
}

#seconda_sezione {
    margin-top: 20px;
    text-align: center;
}

.container {
    margin-top: 20px;
}

#sezione_centrale {
    background-color: darkblue;
    width: 100%;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.li_2:before {
    font-family: FontAwesome;
    content: "\F00C";
    position: absolute;
    left: -40px;
    color: #ff6262;
}

.Principale, .terza_sezione {
    display: flex;
    justify-content: space-evenly;

}




